@font-face {
    font-family: "PT Sans Narrow";
    src: url('../../fonts/PTSansNarrow-Regular.ttf');
}
@font-face {
    font-family: "PT Sans Narrow";
    font-weight: bold;
    src: url("../../fonts/PTSansNarrow-Bold.ttf");
}

body {
    font-family: "PT Sans Narrow", sans-serif;
}

div.row {
    margin-top: 10px;
}

.block {
    border: 1px rgba(0, 0, 0, .15) solid;
    border-radius: 5px;
}

.block-title {
    background: rgba(25, 200, 50, .15);
    display: inline-block;
    width: 100%;
    padding: 1%;
}

div.items {
    padding: 1%;
}

.footer {
    margin-top: 2%;
}

div.items {
    display: inline-block;
    width: 98%;
    margin: auto;
}

div.col-title {
    text-align: center;
}

div.col {
    border: 1px rgba(0, 0, 0, .15) solid;
    
}

.col-left {
    border-radius: 5px 0 0 5px;
}

.col-right {
    border-radius: 0 5px 5px 0;
}

.col-items img {
    width: 64px;
    height: 64px;
    transition-duration: .5s;
    margin-bottom: 5px;
    margin-right: 5px;
}

.col-items img:hover {
    box-shadow: 0 0 5px 2px rgba(1, 1, 2, .4);
    cursor: pointer;
}

.items-container {
    padding-bottom: 10px;
}