:root {
    --green-color: rgba(25, 255, 25, .45);
    --blue-color: rgba(25, 115, 255, .45);
    --purple-color: rgba(110, 5, 220, .45);
    --border-color: rgba(0, 0, 0, .15);
    --dark-green: #1d7000;
}

.p-card {
    transition-duration: 0.5s;
    border: var(--border-color) solid 1px;
    border-radius: 5px;
    height: min-content;
    margin: 15px;
}

.p-card div, p {
    margin: 0;
    padding: 0;
}

.p-card-img {
    display: inline-block;
    margin: auto;
    width: 64px;
    height: 64px;
}

.p-card p {
    text-align: center;
    margin-left: 5px;
}

.p-card-body {
    height: 100%;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    padding-right: 7px !important;
}

.p-card:hover {
    cursor: pointer;
}

.first-era:hover {
    box-shadow: 0 0 15px 3px var(--green-color);
}

.second-era:hover {
    box-shadow: 0 0 15px 3px var(--blue-color);
}

.third-era:hover {
    box-shadow: 0 0 15px 3px var(--purple-color);
}

.title h3 {
    color: var(--dark-green);
}

.row {
    padding-inline-start: 0.5em;
}